*{
    margin: 0;
    padding: 0;
}

body{
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;
}
h2{
    margin: 50px;
}
p{
    margin: 50px;
}
#high{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#low{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#correct{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
