
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play ground 1</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='templates\playground.css')}}"> -->
</head>
<style>
    *{
    margin: 0;
    padding: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(21, 108, 179);
    border: 2px solid black;
}
.cont{
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin: 0 auto;
}
h1{
    padding: 100px;
    margin: 0 auto;
    width: 100px;
}
</style>
<body>
    <h1>Welcome!</h1>
    <div class="cont">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>
</body>
</html>