*{
    margin: 0;
    padding: 0;
}

header {
    background-color:#245076;}
.text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.parg{
    font-size: 15px;
    color: white;
}
.parg2{
    margin: 10px 80px 10px 0px;
    font-size: 15px;
    text-decoration: underline;
    color: yellow;
}
.img1{
    width: 350px;
    height: 100px;
    margin-left: 25px;
}
.icon{
    display: flex;
}
.box{
    background-color: #444444;
    width: 300px;
    height: 70px;
    margin-left: 280px;
    display: flex;
    justify-content: center;
    border: 2px solid #444444;
    border-radius: 20px;
    align-items: center;
}
.search{
    height: 25px;
    border: 2px solid silver;
    text-align: center;
}
.go{
    background-color: #245076;
    height: 30px;
    width: 40px;
    margin-left: 10px;
    border: 2px solid silver;
    border-radius: 10px;
}
nav ul{
    width: 900px;
    height: 40px;
    margin-left: 50px;
    border: 2px solid #477ead;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #477ead;
    color: white;
    border-radius: 20px;
    box-shadow: 1px 1px rgb(39, 38, 38);
    list-style-type: none;
}
nav ul li{
    font-size: 25px;
}
nav{
    background-color: #245076;
    width: 970px;
    height: 50px;
}
article{
    width: 630px;
    height: 220px;
    margin: 0 auto;
}
article ul {
    margin: 0 auto;
    width: fit-content;
    font-style: italic;
    color: yellow;
    list-style-type: none;
}
article p{
    color: white;
}
.of{
    text-align: center;
}
.last{
    margin-top: 10px;
    text-align: center;
    color: white;
}
aside{
    width: 140px;
    margin: 0 auto;
}
aside ul{
    list-style: none;
}
aside ul li{
    color: white;
}
aside ul li a{
    color: white;
}
.cont1{
    background-color: #245076;
    display: flex;
    align-items: center;
    height: 250px;
}
section{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 250px;

}
section .getting{
    text-align: center;
    border-top: 4px solid rgba(10, 79, 134, 0.726);
    width: 300px;
    height: 100px;
}
section ul{
    
    list-style:square
}
section ul li{
    color: black
}
section ul li span{
    color: rgba(36, 135, 216, 0.726);
}
section h2,h3{
    padding-bottom: 10px;
    padding-top: 5px;
}
section .application{
    text-align: center;
    border-top: 4px solid rgba(10, 79, 134, 0.726);
    width: 300px;
    height: 100px;
}
section .application p a{
    color: rgba(36, 135, 216, 0.726);
    text-decoration: none;
}
footer{
    background: linear-gradient(#255278,#3274ab);
    margin-top: 20px;
    height: 80px;
}
footer ul{
    width: inherit;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: silver;
}
footer ul li{
    display: flex;
}
footer p{
    text-align: center;
    color: silver;
    font-size: 2px;
}
body{
    width: 970px;
    margin: 0 auto;
}