*{
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

section{
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.mybook p{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 30px;
}
.mybook button{
    margin-top: 50px;
    margin-left: 100px;
    width: 60px;
    height: 30px;
    box-shadow: 2px 2px 2px black;
}