<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doji Survuy Index</title>
</head>
<body>
    <h1>Submitted Info :</h1>
    <p>Name : {{name_from_python}}</p>
    <p>Dojo Location : {{location_from_python}}</p>
    <p>Favorite Language : {{lang_from_python}}</p>
    <p>your gender is : {{gender_from_python}}</p>
    <p>how do you hear about us : {{choose_from_python}}</p>
    <p>comment : {{comment_from_python}}</p>
</body>
</html>